
*{
 margin: 0px;
 padding: 0px;
 font-family: Poppins;

}
header {
    background-color: #403d3c;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
    
}
header > img {
    height: 200px;
    position: relative;
    top: 5px;
}


.navegue > a {
    color: white;
    font-size: 20px;
    justify-content: space-between;
    padding: 15px 25px;
    text-decoration: none;
    
}
.botoes > button {
    padding: 15px 30px;
    background-color: #D2C2B0;
    border-radius: 15px;
    font-size: 15px;

}

.frase-principal{
    display: flex;
    flex-direction: column;
    padding-right: 300px;
    padding-top: 60px;
    margin-left: 10px ;
    font-size: 40px;
    font-family: Poppins;
    color:#403d3c;
    
}

.cadastro{
    display: flex;
    flex-direction: column;
    padding-top: px;
    margin-left: 40px ;
    font-size: 20px;
    font-family: Poppins;
    color:#403d3c;
    
}

.input {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    padding-top: 10px;
    margin-left: 40px ;
    font-size: 20px;
    font-family: Poppins;
    color:#403d3c;
   
}

.botao-input {
    padding: 15px;
    background-color: #D2C2B0;
    border-radius: 15px;
    font-size: 15px;
    
}

.perguntas{
  display:flex;
  flex-direction: column;
  padding-top: 10px;
  margin-left: 40px;
  align-items: flex-start;
}





footer {
    
    width: 100%;
    height: 200px;
    display: flex;
    background-color: #403d3c;
    font-size: 15px;
    justify-content: space-around;
    border: 1px solid black;
}

.produtos {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.produtos > p {
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
    margin-bottom: 10px;

}

.produtos > a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.institucional {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.institucional > p {
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.institucional > a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.redes-sociais > p {
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.coluna {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-bottom: 15px;
}

.coluna > a > img {
    max-width: 40px;
    max-height: 100%;
}