@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{

    margin: 0;
    padding: 0;
    font-family: Poppins;
}

 /* Início header */




/* EDITANDO O HEADER  */

header {
    
    background-color: #403d3c;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
}

header > img {
    height: 200px;
    position: relative;
    top: 5px;
}

.header > p {
    color: white;
    font-size: 30px;
    font-weight: bold; 
    font-family:Arial, Helvetica, sans-serif;   
   
}   

.navegue > a {
    color: white;
    font-size: 20px;
    justify-content: space-between;
    padding: 15px 25px;
    text-decoration: none;
    
}

.botoes > button {
    padding: 15px 30px;
    background-color: #ffbd59;
    padding: 15px 15px;
    background-color: #d2c2b0;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}


/* Editando a main */

.frase-principal{
    display: flex;
    flex-direction: column;
    padding-right: 300px;
    padding-top: 60px;
    margin-left: 10px ;
    font-size: 40px;
    font-family: Poppins;
    color:#403d3c;
    
}

.cadastro{
    display: flex;
    flex-direction: column;
    padding-top: 30px; /* margem entre as escritas */
    margin-left: 40px ; /*alinhamento espaçado do começo*/
    font-size: 20px;
    font-family: Poppins;
    color:#403d3c;
    
     
}

.input{
    display: flex;
    padding-top: 30px; /* margem entre cadastro e cpf */
    margin-left: 40px; /* alinhamento com o cadastro */
    font-size: 20px;
    font-family: Poppins;
    color:#403d3c;
    
}

.input > button{
  
  text-align: left;

}

/* Início Main */

.frase-prin











 .perguntas {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
 }

 







footer {
    position: fixed;
    width: 100%;
    position: static;
    height: 200px;
    padding: 30px;
    display: flex;
    background-color: #ff914d;
    background-color: #403d3c;
    font-size: 25px;
    justify-content: space-around;
    border: 1px solid black;
}
.produtos {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
}

.produtos > p {
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
    margin-bottom: 10px;

}

.produtos > a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding-top: 10px;
}

.institucional {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
}

.institucional > p {
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.institucional > a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding-top: 10px;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
}

.redes-sociais > p {
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.coluna {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-bottom: 15px;
}

.coluna > a > img {
    max-width: 30px;
    max-height: 100%;
    padding-top: 15px;
}







