@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

/* EDITANDO O HEADER  */

header {
    background-color: #403D3C;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
}

header > img {
    height: 200px;
    position: relative;
    top: 5px;
}
.navegue > a {
    color: white;
    font-size: 20px;
    justify-content: space-between;
    padding: 15px 25px;
    text-decoration: none;
    
}

.botoes > button {
    padding: 15px 30px;
    background-color: #D2C2B0;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}

/* EDITANDO A MAIN */

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 2vw;
}

.frase-chamada {     
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    padding-right: 300px;
    padding-top: 50px;
}

.frase-chamada > p {
    font-size: 30px;
}

.frase-efeito {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frase-efeito > p {
    font-size: 20px;
    padding-left: 108px;
}


.opcoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    padding-top: 50px;
}

.faixa-foto {
    display:grid;
    grid-template-rows: 2fr;
    grid-template-columns: 1fr;
    background-color: #403D3C;
    height: 50px;
}

.item-imagem {
    border: 1px solid;
}

.item-texto {
    padding-bottom: 500px;
    font-weight: bold;
}


/* EDITANDO O FOOTER */

footer {
    width: 100%;
    height: 200px;
    display: flex;
    background-color: #ff914d;
    font-size: 25px;
    justify-content: space-around;
}

.produtos {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.produtos > p {
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
    margin-bottom: 10px;

}

.produtos > a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.institucional {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.institucional > p {
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.institucional > a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.redes-sociais > p {
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.coluna {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-bottom: 15px;
}

.coluna > a > img {
    max-width: 40px;
    max-height: 100%;
}




